* {
    box-sizing: border-box;
}

body {
    background-image: url("Images/Giant_TranceX_gallery08.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:top;
        background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar {display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.TITLEMIDDLE {
    color: white;
    text-align:center;
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10%;

    
}
.about {
    background-image: url("Images/Kaabo_Hero_Image_1280x720_crop_center.jpg")
}