body{ /* fade ins are easier on the eyes when transitioning through pages, so have created one here*/
    margin: 0;
    padding: 0; 
    background: #040404;
    animation: fadeIn 5s;
}

/*this relates to my hamburger menu*/
.toggle{
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2
}
.toggle a{
    text-decoration: none;
    color: #9b0909;;
    font-size: 24px;
    cursor: pointer;
}
.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 1;
    position:static;
    transition: 0.5s;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li{
    list-style: none;
}

ul li a{
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
}
ul li a:hover{
    background: #FFFC85
}
.menu.active{
    left: 0;
    overflow: auto;
}

/*end of hamburger menu*/
.bikefronton {
  
    width: auto;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/bikefronton.jpg");
    background-position: center;
}
h1 {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    font-size: 150px;
    opacity: 100;

    
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}



h3 {
    text-align: center;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-size: 500% auto;
    animation: linear-gradient 10s ease-in-out infinite alternate;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 100px;
    padding-top: 250px;
    
}
h4 {
  /* brings below text to front and puts it in the centre of the grid column */
  position: absolute;
  text-align: center;
  position: static;
  z-index: 1;
  
}

h5{
    text-align: center;
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-size: 500% auto;
    animation: linear-gradient 10s ease-in-out infinite alternate;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 75px;
    padding-top: 50px;
    


}
h6
{color:#fff ;
  text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    font-size: 100px;
    opacity: 100;

    
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.questions
{
text-align: center;
max-width: 100%;
}

p {
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-about {
    background-image: url("images/Untitled-1.png");
    align-content: center;
    background-position-x: center;
    background-size: cover;
}

.socmed {
text-align: center;

padding-top: 100px;

}

/* social media tags*/

.fa {
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


  
  /*end of social media tags*/



.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.fade-in {
    animation: fadeIn 3s;
  }
@keyframes linear-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



  @import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
body.regpay{
  background-image: url("images\max-makara-shred-small.jpg") ;
  font-family: 'Arimo', sans-serif;
  padding-top: 250px;
  background-size: cover;
}

#password{
  margin-bottom: 10px;
}

h2{
  background-image: url("images\max-makara-shred-small.jpg");
  text-align:center;
  font-size:2em;
  padding-top: 100px;
}
.wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;

}


.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  height: 100%;
  max-height:fit-content;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden; 
  padding-top: 50px;
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  width:100%;
  display: flex;
  justify-content: center;
  font-size:1.5em;
  font-weight:bold
  
}
.radio{
  opacity: 0%;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel
{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab
{
  background:#fffffff6;
  color:#b24c4c;
  border-top: 3px solid #000;
}

.toggle{
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2
}
.toggle a{
  text-decoration: none;
  color: #262626;
  font-size: 24px;
  cursor: pointer;
}
.menu{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 1;
  transition: 0.5s;
}
body.regpay {
  margin: 0;
  padding: 0; 
  background-image: url("images/max-makara-shred-small.jpg");
  animation: fadeIn 3s;
}
.toggle{
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2
}
.toggle a{
  text-decoration: none;
  color: #9b0909;
  font-size: 24px;
  cursor: pointer;
}
.menu{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 1;
  transition: 0.5s;
}
ul{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
ul li{
  list-style: none;
}

ul li a{
  padding: 10px;
  display: inline-block;
  font-family: verdana;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
}
ul li a:hover{
  background: #FFFC85
}
.menu.active{
  left: 0;
  overflow: visible;
}

#congratulations
{
display:none; /*this hides the congrats text so that it is only shown when the sign up button is clicked*/
}
   
#hired{
display: none;

}

.forms{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.login
{
text-align: center;

}


.button {
  border-radius: 4px;
  background-color: #005720;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb'; /*this will display a right arrow when hovered overtop */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  
}

/*this will make the words "sign up" move right as you hover overtop of the button. This means that the user can
clearly see that they are about to click the button */
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*grid for bike*/



.grid-container {
  display: grid;
  grid-template-columns: 500px 405px;
  gap: 10px;
  background-color: #000000;
  padding-left: 100px;
  padding-top: 100px;
  color: #00affa;
}



/* I have learnt this piece of code from W3 Schools 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade And I am using it to
add a hover effect so people can get a basic idea of what the bike is upon first glance, then get the model when they 
hover their mouse overtop */

/*hover in services page, using the same hover skills from the workshop guides, and experimentation with
*/


.grid-item {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
position: relative;
}





